<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <%= stylesheet_link_tag 'base' %>
</head>
<body>
  <script type="text/template" id="item-template"></script>
  <script type="text/template" id="stats-template"></script>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-2.1.1.min.js', '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js', '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js', '//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.14/backbone.localStorage-min.js', 'all' %>
</body>
  <%= yield %>
</html>